html {
  background-color: #0d012e;
  font-family: "Times New Roman";
  box-sizing: border-box;
  margin: 0 auto;
}
.container {
  text-align: center;
}
h1,
h2 {
  color: #fff;
}
.title h1 {
  font-size: 36px;
}
.recipe {
  width: 600px;
  margin: 0 auto;
}
.align {
  text-align: start;
}
ol,
ul,
li,
p {
  color: #fff;
}
