html {
  font-family: "Times New Roman";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #0d012e;
  text-align: center;
}

h1 {
  color: white;
  font-size: 36px;
  padding-top: 20px;
  padding-bottom: 20px;
}

a {
  color: white;
  font-size: 22px;
}

img {
  border-radius: 8px;
  width: 400px;
  height: auto;
  padding-bottom: 20px;
}
